.dark-gradient {
	background-color: #000;

	/* Webkit (Chrome 11+) */ 
	background-image: -webkit-linear-gradient(top, #000000 0%, #4F5A64 100%);

	/* W3C Markup, IE10 Release Preview */ 
	background-image: linear-gradient(to bottom, #000000 0%, #4F5A64 100%);

	height: 100%;
}

.dark {
	background-color: #303030;
	color: #c0c0c0;
}

.top-bar {
	overflow: visible;
	background-color: #4f5a64;
	margin-bottom: 0px;
}

.top-bar-section ul {
	display: inline;
	background-color: #4f5a64;
}

.top-bar-section ul li {
	float: left;
}

.top-bar-section ul li>a {
	padding-right: 15px;
}

.top-bar-section li a:not(.button) {
	background-color: #4f5a64;
}

.top-bar-section li a:not(.button):hover {
	background-color: rgba(192, 192, 192, 0.5);
}

.top-bar-section ul li.active>a {
	background-color: #4f5a64;
	border-bottom: thick solid #c0c0c0;
}

.top-bar-section ul li.active>a:hover {
	background-color: rgba(192, 192, 192, 0.5);
	border-bottom: thick solid #c0c0c0;
}

.clear {
	clear: both;
}

.grid-view-tile {
	color: #c0c0c0;
	display: inline-block;
	padding: 5px;
	border-right: 1px solid #c0c0c0;
	border-bottom: 1px solid #c0c0c0;
}

.grid-view-tile:hover {
	color: #c0c0c0;
	background-color: dodgerblue;
}

#profile-image {
	background-image: url("img/profile.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-position: center center;
	width: 250px;
	height: 250px;
	margin: 10px auto 10px auto;
	float: right;
}

#profile-inputs {
	margin-right: 270px;
}

@media (max-width: 600px) {
	#profile-image {
		float: none;
	}

	#profile-text {
		margin-right: 0px;
		width: 100%;
	}
}

#profile-buttons {
	float: right;
	clear: both;
}

#profile-pick {
	width: 50%;
}

#profile-clear {
	float: right;
}
